BROWSER_PROVIDER="BROWSERCASH"

BROWSERCASH_API_KEY="dr_root_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
KERNEL_API_KEY="sk_xxxxxxxx-xxxx-4xxx-9xxx-xxxxxxxxxxxx.xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
BROWSERBASE_API_KEY="bb_live_US_xxxxxxxxxxxxxxxxxxxxxxxx"
# BROWSERBASE_PROJECT_ID="xxxxxxxx-xxxx-4xxx-bxxx-xxxxxxxxxxxx"

NVIDIA_API_KEY="nvapi-EXAMPLE"
